h1 {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
}

form {
    width: min-content;
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
    border-width: 10px;
    padding-left: 100px;
    padding-right: 100px;
}