h1 {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
}

form {
    width: min-content;
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(120, 1, 84, 0.664);
    border-width: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav {
    color: white;
    font-style: oblique;
    font-weight: bold;
    background-color: rgba(120, 1, 84, 0.664);
    width: 24%;
    margin-left: 5px;
    margin-right: 5px;
}